* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Change the backgorund Color of Left Half*/ 
#column1 {
	background: lightblue;
}
/*Change the backgorund Color of Right Half*/
#column2 {
	background: white;
}
/*Change the backgorund Color of Canvas*/
#myCanvas{
	background: black;
  
}

/*Designing the buttons*/
#designbutton {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}


#width{
  text-align: center;
}

#height{
  text-align: center;
}


#polyside{
  text-align: center;
}

#heading{
   text-align: center;
}

/*Make Box Type Feeling in printing statements*/ 
#print0 {
  background: white;
}
#print1 {
  background: white;
}
#print2 {
  background: white;
}
#print3 {
  color: red;
  background: white;
}
#print4 {
  color: red;
  background: white;
}
#print5 {
  color: red;
  background: white;
}
#print6 {
  background: white;
}
#print7 {
  background: white;
}
#print8 {
  background: white;
}
#print9 {
  background: white;
}